.backImage {
  position: relative;
  background: url("../../img/romero4.jpg") no-repeat;
  background-size: cover;
  background-position: relative;
  background-attachment: fixed;
  height: 95%;
  /* margin-top: -100px;
  margin-bottom: -100px; */
}
