.backImage {
  position: static;
  background: url("../../img/romero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
  /* margin-top: -100px;
  margin-bottom: -100px; */
}
